<div class="card">
  <div class="pb-4">
    <p-iconField iconPosition="left">
      <p-inputIcon>
        <i class="pi pi-search"></i>
      </p-inputIcon>
      <input
        pInputText
        [(ngModel)]="searchValue"
        type="text"
        (input)="dt.filterGlobal(searchValue, 'contains')"
        placeholder="Search keyword"
        toUppercase
      />
    </p-iconField>
  </div>

  <p-table
    paginatorPosition="top"
    [paginator]="true"
    [value]="customers"
    [filterDelay]="0"
    [globalFilterFields]="[
      'last_name',
      'first_name',
      'middle_name',
      'client_status',
      'address',
      'mobile_number',
      'comakers'
    ]"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [rows]="10"
    [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[10, 25, 50]"
    #dt
    [showCurrentPageReport]="true"
    [loading]="loading"
  >
    <ng-template pTemplate="header">
      <tr>
        <th>Status</th>
        <th>Profile Picture</th>
        <th>Name</th>
        <th>Address</th>
        <th>Contact No.</th>
        <th>Registration Date</th>
        <th>Actions</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-customer>
      <tr>
        <td>
          <p-tag
            [value]="customer.client_status"
            [severity]="statusTagService.getSeverity(customer.client_status)"
          />
        </td>
        <td>
          <p-avatar
            [image]="customer.client_picture"
            size="xlarge"
            shape="circle"
            (onImageError)="customer.client_picture = 'placeholder.png'"
          />
        </td>
        <td>
          {{ customer.last_name }}, {{ customer.first_name }}
          {{ customer.middle_name }} {{ customer.extension_name }}
        </td>
        <td>{{ customer.address || "-" }}</td>
        <td>{{ customer.mobile_number || "-" }}</td>
        <td>
          {{ customer.created_at | date : "MMM dd, yyyy hh:mm a" || "-" }}
        </td>
        <td>
          <p-button
            (onClick)="selectAsComaker(customer.customer_id)"
            [outlined]="true"
            label="Select"
          ></p-button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
