<div class="container mx-auto w-1/2">
  <p-fieldset legend="Change Password">
    <form [formGroup]="changePasswordForm" (ngSubmit)="submitChangePassword()">
      <div class="grid grid-flow-row gap-4 w-full">
        <div class="grid grid-flow-row gap-2 w-full">
          <label for="username" class="sr-only">USERNAME</label>
          <input
            type="text"
            name="username"
            autocomplete="username"
            id="username"
            class="hidden"
          />

          <label for="old_password">OLD PASSWORD</label>
          <p-password
            [toggleMask]="true"
            [inputStyle]="{ width: '100%' }"
            name="old_password"
            formControlName="old_password"
            required
            autocomplete="current-password"
            id="old_password"
            placeholder="Ex. ********"
            aria-describedby="old_password-help"
            styleClass="w-full"
            [feedback]="false"
          />

          @if (changePasswordForm.get('old_password')?.hasError('required') &&
          changePasswordForm.get('old_password')?.touched) {
          <small class="p-error block"> Old password is required! </small>
          }
        </div>

        <div class="grid grid-flow-row gap-2 w-full">
          <label for="password">NEW PASSWORD</label>
          <p-password
            [toggleMask]="true"
            [inputStyle]="{ width: '100%' }"
            name="password"
            formControlName="password"
            required
            autocomplete="new-password"
            id="password"
            placeholder="Ex. ********"
            aria-describedby="password-help"
            styleClass="w-full"
          />

          @if (changePasswordForm.get('password')?.hasError('required') &&
          changePasswordForm.get('password')?.touched) {
          <small class="p-error block"> Password is required! </small>
          }
        </div>
        <div class="grid grid-flow-row gap-2">
          <label for="confirm_password">CONFIRM NEW PASSWORD</label>
          <p-password
            styleClass="w-full"
            [inputStyle]="{ width: '100%' }"
            [toggleMask]="true"
            name="confirm_password"
            formControlName="confirm_password"
            required
            autocomplete="confirm-password"
            id="confirm_password"
            placeholder="Ex. ********"
            aria-describedby="confirm_password-help"
          />

          @if (changePasswordForm.get('confirm_password')?.hasError('required')
          && changePasswordForm.get('confirm_password')?.touched) {
          <small class="p-error block"> Confirm password is required! </small>
          } @if (changePasswordForm.hasError('passwordMismatch') &&
          changePasswordForm.get('confirm_password')?.touched) {
          <small class="p-error block"> Passwords do not match. </small>
          }
        </div>

        <p-button
          [disabled]="changePasswordForm.invalid"
          label="Change Password"
          type="submit"
          severity="success"
        />
      </div>
    </form>
  </p-fieldset>
</div>
