<p-tabView [activeIndex]="0">
    @if (messages) {
    <p-messages [(value)]="messages" [enableService]="false" />
    }
    <p-tabPanel header="Camera" [leftIcon]="hasUploadSucceeded ? 'pi pi-lock' : 'pi pi-camera'"
        [disabled]="hasUploadSucceeded">
        <ng-template pTemplate="content">
            <p-fieldset legend="Camera Feed">
                <app-webcam-utility [hasUploadSucceeded]="hasUploadSucceeded" [customerId]="customerId!"
                    (imageCaptured)="onCaptureImageEmitted($event)" />
            </p-fieldset>
        </ng-template>
    </p-tabPanel>
    <p-tabPanel header="Desktop" [leftIcon]="hasUploadSucceeded ? 'pi pi-lock' : 'pi pi-desktop'"
        [disabled]="hasUploadSucceeded">
        <ng-template pTemplate="content">
            <p-fieldset legend="Picture Preview">
                <div class="flex items-center gap-x-4">
                    <p-fileUpload #fileUpload [disabled]="hasUploadSucceeded" [customUpload]="true" [multiple]="false"
                        mode="basic" chooseLabel="Select Image" chooseIcon="pi pi-upload" name="image" accept="image/*"
                        [maxFileSize]="1000000" (uploadHandler)="onUpload()" (onSelect)="onSelectedFiles($event)">
                    </p-fileUpload>

                    <p-button pTooltip="Remove selected" [disabled]="hasUploadSucceeded" [disabled]="files.length === 0"
                        type="button" icon="pi pi-times" (click)="clearFileUpload()" [outlined]="true"
                        severity="danger" />
                </div>

                @if (files.length !== 0) {
                <p-card>
                    @for (file of files; track file.id) {
                    <img role="presentation" [alt]="file.name" [src]="file.objectURL" width="200px"
                        class="object-cover object-top h-28 w-28" height="200px" />
                    }
                </p-card>
                }
            </p-fieldset>
        </ng-template>
    </p-tabPanel>

</p-tabView>