<div class="grid grid-cols-4 gap-4">

  @if (customerLoanProfile) {
  <div class="col-span-1">
    <p-fieldset legend="Customer Information" [toggleable]="false">
      <p-avatar [image]="customerLoanProfile.client_picture || 'placeholder.png'" size="xlarge" shape="circle"
        (onImageError)="customerLoanProfile.client_picture = 'placeholder.png'" styleClass="mb-3" />
      <h1 class="text-2xl font-bold mb-3">{{ customerLoanProfile.fullname }}</h1>
      <ul class="text-base">
        <li><span class="font-bold">Email:</span> {{ customerLoanProfile.email_address || "N/A" }}</li>
        <li><span class="font-bold">Mobile:</span> {{ customerLoanProfile.mobile_number || "N/A" }}</li>
        <li><span class="font-bold">Telephone:</span> {{ customerLoanProfile.telephone_number || "N/A" }}</li>
        <li><span class="font-bold">Gender:</span> {{ customerLoanProfile.gender || "N/A" }}</li>
      </ul>
    </p-fieldset>
    <p-fieldset legend="Loan Information" [toggleable]="false">
      <ul class="text-balance">
        <li><span class="font-bold">Interest Rate:</span> {{ principalLoanDetails.loan_interest_rate }}%</li>
        <li><span class="font-bold">Mode of Payment:</span> {{ principalLoanDetails.loan_mode_of_payment }}</li>
      </ul>
    </p-fieldset>
  </div>
  }

  <div class="col-span-3">
    <div class="flex items-center gap-3 mb-4">
      <p-button icon="pi pi-plus" severity="primary" label="PAYMENT ENTRY" (onClick)="addEntry()"></p-button>
      <p-button icon="pi pi-plus" severity="secondary" label="CAPITAL ENTRY" (onClick)="addCapital()"></p-button>
    </div>

    <p-fieldset legend="Amortization Table a.k.a Index Card">
      <p-table [value]="transactionTable" styleClass="p-datatable-gridlines p-datatable-sm">
        <ng-template pTemplate="header">
          <tr>
            <th>STATUS</th>
            <th>TRANSACTION DATE (mm/dd/yy)</th>
            <th>OR NO.</th>
            <!-- <th>BALANCE INTEREST</th> -->
            <th class="border-gray-500 border-2">INTEREST</th>
            <th class="border-gray-500 border-2">PAYMENT</th>
            <th class="border-gray-500 border-2">CAPITAL</th>
            <th class="border-gray-500 border-2">BALANCE</th>
            <th>COLLECTION</th>
            <th>CHANGE</th>
            <th>ACTIONS</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item let-i="rowIndex">
          <tr>
            <td>
              <div class="flex items-center gap-2">
                <p-tag [value]="item.transaction_status.replace('_', ' ').toUpperCase()"
                  [severity]="statusTagService.getStatusLabel(item.transaction_status)" />
                @if(item.transaction_remarks){
                <p-button [severity]="'secondary'" [text]="true" [rounded]="true" icon="pi pi-info-circle"
                  [pTooltip]="item.transaction_remarks" tooltipPosition="bottom"></p-button>
                }
              </div>
            </td>
            <td>{{ item.transaction_date | date : "MMMM dd, yyyy" }}</td>
            <td>{{ item?.transaction_or_number ?? "-" }}</td>
            <!-- <td>{{ item?.balance_interest ? (item.balance_interest | currency : "PHP") : "-" }}</td> -->
            <td class="border-gray-500 border-2">{{ item.interest ? (item.interest | currency : "PHP") : "-" }}</td>
            <td class="border-gray-500 border-2">{{ item.payment ? (item.payment | currency : "PHP") : "-" }}</td>
            <td class="border-gray-500 border-2">{{ item.capital ? (item.capital | currency : "PHP") : "-" }}</td>
            <td class="border-gray-500 border-2">{{ item.balance ? (item.balance | currency : "PHP") : "-" }}</td>
            <td>{{ item.collection ? (item.collection | currency : "PHP") : "-" }}</td>
            <td>{{ item.change ? (item.change | currency : "PHP") : "-" }}</td>
          </tr>
        </ng-template>
      </p-table>
    </p-fieldset>
  </div>
</div>