<p-fieldset class="col-span-3" legend="Amortization Table a.k.a Index Card">
  <p-table [value]="amortizationTable" styleClass="p-datatable-gridlines">
    <ng-template pTemplate="header">
      <tr>
        <th>Status</th>
        <th>Transaction Date</th>
        <th>OR No.</th>
        <th>Balance Interest</th>
        <th>Interest</th>
        <th>Payment</th>
        <th>Capital</th>
        <th>Balance</th>
        <th>Collection</th>
        <th>Change</th>
        <th>Actions</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-item let-i="rowIndex">
      <tr class="font-mono">
        <td>
          <p-tag
            [value]="item.transaction_status"
            [severity]="
              statusTagService.getStatusLabel(item.transaction_status)
            "
          />
        </td>
        <td>{{ item.transaction_date | date : "MMMM dd, yyyy" }}</td>
        <td>
          {{ item?.transaction_or_number ?? "-" }}
        </td>
        <td>
          {{
            item?.balance_interest == null || item?.balance_interest === 0
              ? "-"
              : (item?.balance_interest | currency : "PHP")
          }}
        </td>
        <td>
          {{
            item.interest == null || item.interest === 0
              ? "-"
              : (item?.interest | currency : "PHP")
          }}
        </td>
        <td>
          {{
            item.payment == null || item.payment === 0
              ? "-"
              : (item?.payment | currency : "PHP")
          }}
        </td>
        <td>
          {{
            item.capital == null || item.capital === 0
              ? "-"
              : (item?.capital | currency : "PHP")
          }}
        </td>
        <td>
          {{
            item.balance == null || item.balance === 0
              ? "-"
              : (item?.balance | currency : "PHP")
          }}
        </td>
        <td>
          {{
            item.collection == null || item.collection === 0
              ? "-"
              : (item?.collection | currency : "PHP")
          }}
        </td>
        <td>
          {{
            item.change == null || item.change === 0
              ? "-"
              : (item?.change | currency : "PHP")
          }}
        </td>
        <td>
          <p-button
            [rounded]="true"
            [text]="true"
            severity="danger"
            [disabled]="i !== amortizationTable.length - 1 || i === 0"
            icon="pi pi-trash"
            pTooltip="Void Transaction (Delete)"
            tooltipPosition="top"
            tooltipStyleClass="text-center"
          />
        </td>
      </tr>
    </ng-template>
  </p-table>
</p-fieldset>
