<p-messages />
<p-fileUpload
  #fileUploaderForm
  (onProgress)="onFileUploadProgress($event, fileUploaderForm)"
  name="files[]"
  [customUpload]="true"
  (uploadHandler)="uploadHandler($event, fileUploaderForm)"
  [multiple]="true"
  accept=".pdf,.doc,.docx,image/*"
  maxFileSize="10000000"
  (onSelect)="handleSelectedFile($event)"
  (onUpload)="onUpload($event)"
>
  <ng-template pTemplate="content">
    <ul *ngIf="uploadedFiles.length">
      <li *ngFor="let file of uploadedFiles">
        {{ file.name }} - {{ file.size }} bytes
      </li>
    </ul>
  </ng-template>
</p-fileUpload>
