<p-messages />
<p-fileUpload
  #fileUploaderForm
  (onProgress)="onFileUploadProgress($event, fileUploaderForm)"
  name="files[]"
  [customUpload]="true"
  (uploadHandler)="uploadHandler($event, fileUploaderForm)"
  [multiple]="true"
  accept=".pdf,.doc,.docx,image/*"
  maxFileSize="10000000"
  (onSelect)="handleSelectedFile($event)"
  (onUpload)="onUpload($event)"
>
  <ng-template pTemplate="content">
    @if (uploadedFiles.length) {
    <p-fieldset legend="Promissory records">
      <ul>
        @for (file of uploadedFiles; track file.promissory_note_id) {
        <li>
          <div class="flex items-center">
            <p-button
              class="ml-2"
              icon="pi pi-trash"
              [text]="true"
              severity="danger"
              pTooltip="Delete file from server"
              tooltipPosition="left"
              (click)="deleteFile(file)"
            />

            <p-divider layout="vertical" />
            <a
              pButton
              icon="pi pi-folder-open"
              [href]="file.file_path"
              class="p-button font-bold"
              [download]="file.name"
              [text]="true"
              pTooltip="Download file"
              tooltipPosition="right"
              target="_blank"
            >
            </a>

            <p-divider layout="vertical" />

            <span class="ml-3">
              {{ file.name }} {{ file.size ? file.size + "0 bytes" : "" }}
            </span>
          </div>
        </li>
        }
      </ul>
    </p-fieldset>
    }
  </ng-template>
</p-fileUpload>
