<p-tabView>
    <p-tabPanel header="Personal">
        <ng-template pTemplate="content">
            <p-card>
                <app-personal-information-form />
            </p-card>
        </ng-template>
    </p-tabPanel>

    <p-tabPanel header="Address">
        <ng-template pTemplate="content">
            <p-card>
                <!-- <app-address-form cus/> -->
            </p-card>
        </ng-template>
    </p-tabPanel>

    <p-tabPanel header="Collateral">
        <ng-template pTemplate="content">
            <p-card>
                <!-- <app-shell-collaterals-form /> -->
            </p-card>
        </ng-template>
    </p-tabPanel>

    <p-tabPanel header="Source of Income">
        <ng-template pTemplate="content">
            <p-card>
                <!-- <app-shell-source-of-income /> -->
            </p-card>
        </ng-template>
    </p-tabPanel>

    <p-tabPanel header="Profile Picture">
        <ng-template pTemplate="content">
            <p-card>
                <!-- <app-profile-picture-form /> -->
            </p-card>
        </ng-template>
    </p-tabPanel>

    <p-tabPanel header="Promissory Note">
        <ng-template pTemplate="content">
            <p-card>
                <!-- <app-promissory-note /> -->
            </p-card>
        </ng-template>
    </p-tabPanel>

    <p-tabPanel header="Archives">
        <ng-template pTemplate="content">
            <p-card>
                <!-- <app-archives /> -->
            </p-card>
        </ng-template>
    </p-tabPanel>

    <p-tabPanel header="Delinquent Status">
        <ng-template pTemplate="content">
            <p-card>
            </p-card>
        </ng-template>
    </p-tabPanel>

</p-tabView>