<section class="h-dvh bg-white">
    <div class="header">
        <div class="inner-header flex">
            <div class="card flex justify-content-center">
                <p-card header="Dolben Lending Investors" subheader="16 Kauffman St., Gordon Heights, Olongapo City">
                    <div class="flex flex-col gap-3">
                        <p-inputGroup>
                            <p-inputGroupAddon>
                                <i class="pi pi-user"></i>
                            </p-inputGroupAddon>
                            <input type="text" pInputText placeholder="Username" />
                        </p-inputGroup>

                        <p-inputGroup>
                            <p-inputGroupAddon>
                                <i class="pi pi-lock"></i>
                            </p-inputGroupAddon>
                            <input type="password" pPassword [feedback]="false" placeholder="Password" />
                        </p-inputGroup>
                    </div>
                    <ng-template pTemplate="footer">
                        <div class="flex gap-1 mt-1">
                            <p-button (onClick)="onLogin()" label="Login" [raised]="true" class="w-full"
                                styleClass="w-full" />
                        </div>
                    </ng-template>
                </p-card>
            </div>
        </div>

        <!-- SVG Waves -->
        <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
            viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
            <defs>
                <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
            </defs>
            <g class="parallax">
                <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,0.7" />
                <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.5)" />
                <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.3)" />
                <use xlink:href="#gentle-wave" x="48" y="7" fill="#fff" />
            </g>
        </svg>
    </div>
</section>