<section class="h-dvh bg-white">
  <div class="header">
    <div class="inner-header flex">
      <div class="card flex justify-content-center">
        <form [formGroup]="authForm" (ngSubmit)="onLogin()">
          <p-card
            header="Dolben Lending Investors"
            subheader="16 Kauffman St., Gordon Heights, Olongapo City"
          >
            <div class="grid grid-flow-row gap-4">
              <div class="grid grid-flow-row gap-2 w-full">
                <label for="username">USERNAME</label>
                <p-iconField iconPosition="left">
                  <p-inputIcon styleClass="pi pi-user" />
                  <input
                    type="text"
                    pInputText
                    id="username"
                    placeholder="Username"
                    formControlName="username"
                    required
                    class="w-full"
                    autocomplete="username"
                  />
                </p-iconField>
                @if (authForm.get('username')?.hasError('required') &&
                authForm.get('username')?.touched) {
                <small class="p-error block" id="username">
                  Username is required!
                </small>
                }
              </div>
              <div class="grid grid-flow-row gap-2">
                <label for="password">PASSWORD</label>
                <p-iconField iconPosition="left">
                  <p-inputIcon styleClass="pi pi-lock" />
                  <input
                    type="password"
                    pPassword
                    [feedback]="false"
                    id="password"
                    placeholder="Password"
                    formControlName="password"
                    required
                    class="w-full"
                    autocomplete="current-password"
                  />
                </p-iconField>
                @if (authForm.get('password')?.hasError('required') &&
                authForm.get('password')?.touched) {
                <small class="p-error block" id="password">
                  Password is required!
                </small>
                }
              </div>
            </div>

            <ng-template pTemplate="footer">
              <p-button
                [disabled]="authForm.invalid"
                label="Login"
                [raised]="true"
                class="w-full"
                styleClass="w-full"
                type="submit"
              />
            </ng-template>
          </p-card>
        </form>
      </div>
    </div>

    <!-- SVG Waves -->
    <svg
      class="waves"
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
      viewBox="0 24 150 28"
      preserveAspectRatio="none"
      shape-rendering="auto"
    >
      <defs>
        <path
          id="gentle-wave"
          d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z"
        />
      </defs>
      <g class="parallax">
        <use
          xlink:href="#gentle-wave"
          x="48"
          y="0"
          fill="rgba(255,255,255,0.7"
        />
        <use
          xlink:href="#gentle-wave"
          x="48"
          y="3"
          fill="rgba(255,255,255,0.5)"
        />
        <use
          xlink:href="#gentle-wave"
          x="48"
          y="5"
          fill="rgba(255,255,255,0.3)"
        />
        <use xlink:href="#gentle-wave" x="48" y="7" fill="#fff" />
      </g>
    </svg>
  </div>
</section>
