<p-tabView>
    <p-tabPanel *ngFor="let tab of tabs; let i = index" [header]="tab.title" [selected]="i === 0">
        <ng-template pTemplate="content">
            @switch (tab.value) {
            @case ('employment') { <app-employment [customerId]="customerId" /> }
            @case ('business_owner') { <app-business [customerId]="customerId" /> }
            @case ('self_employed') { <app-self-employed [customerId]="customerId" /> }
            @case ('pension_fund') { <app-pension [customerId]="customerId" /> }
            @case ('others') { <app-others [customerId]="customerId" /> }
            @default { <app-employment [customerId]="customerId" /> }
            }
        </ng-template>
    </p-tabPanel>
</p-tabView>