<p-tabView>
  <p-tabPanel
    *ngFor="let tab of tabs; let i = index"
    [header]="tab.title"
    [selected]="i === 0"
  >
    <ng-template pTemplate="content">
      @switch (tab.value) { @case ('employment') {
      <ng-container>
        <app-employment
          [customerId]="customerId"
          [isEditMode]="true"
          [customerData]="customerData"
        />
      </ng-container>
      } @case ('business_owner') {
      <ng-container>
        <app-business
          [customerId]="customerId"
          [isEditMode]="true"
          [customerData]="customerData"
        />
      </ng-container>
      } @case ('self_employed') {
      <ng-container>
        <app-self-employed
          [customerId]="customerId"
          [isEditMode]="true"
          [customerData]="customerData"
        />
      </ng-container>
      } @case ('pension_fund') {
      <ng-container>
        <app-pension
          [customerId]="customerId"
          [isEditMode]="true"
          [customerData]="customerData"
        />
      </ng-container>
      } @case ('others') {
      <ng-container>
        <app-others
          [customerId]="customerId"
          [isEditMode]="true"
          [customerData]="customerData"
        />
      </ng-container>
      } @default {
      <ng-container> </ng-container>
      } }
    </ng-template>
  </p-tabPanel>
</p-tabView>
