<form [formGroup]="paymentsForm" (ngSubmit)="payDueObligation()">
  <p-fieldset legend="Payment form">
    <div class="flex flex-col gap-4 items-start my-4">
      <div class="grid grid-cols-2 gap-4 w-full items-start">
        <div class="grid grid-flow-row gap-2 w-full">
          <label for="date-of-birth">Transaction Date</label>
          <p-calendar
            placeholder="mm/dd/yyyy"
            formControlName="transaction_date"
            styleClass="w-full"
            iconDisplay="input"
            [showIcon]="false"
            inputId="icondisplay"
            mask="99/99/9999"
            slotChar="mm/dd/yyyy"
          />
          @if ( paymentsForm.get('transaction_date')?.hasError('required') &&
          paymentsForm.get('transaction_date')?.touched ) {
          <small class="p-error block"> Transaction Date is required! </small>
          }
        </div>

        <div class="grid grid-flow-row gap-2 w-full">
          <label for="transaction_or_number">OR No.</label>
          <input
            pKeyFilter="num"
            formControlName="transaction_or_number"
            pInputText
            id="transaction_or_number"
            type="number"
            placeholder="0"
            pKeyFilter="num"
            min="0"
          />
          <small id="transaction_or_number_help">
            Set 0 and the system will automatically generate the
            <strong>OR No.</strong>
          </small>
        </div>
      </div>

      <div class="grid grid-flow-row gap-2 w-full">
        <label for="collection">Collection</label>
        <p-inputNumber
          formControlName="collection"
          id="collection"
          mode="currency"
          currency="PHP"
          styleClass="w-full text-end text-mono"
          placeholder="0"
          (keyup)="validateCollection()"
        ></p-inputNumber>
        @if ( paymentsForm.get('collection')?.hasError('required') &&
        paymentsForm.get('collection')?.touched ) {
        <small class="p-error block"> Collection is required! </small>
        }
      </div>

      <div class="grid grid-flow-row gap-2 w-full">
        <label for="interest">Interest</label>
        <p-inputNumber
          formControlName="interest"
          id="interest"
          mode="currency"
          currency="PHP"
          styleClass="w-full text-end"
          placeholder="0"
        ></p-inputNumber>
        @if ( paymentsForm.get('interest')?.hasError('required') &&
        paymentsForm.get('interest')?.touched ) {
        <small class="p-error block"> Interest is required! </small>
        }
      </div>

      <div class="grid grid-flow-row gap-2 w-full">
        <label for="interest" class="text-red-500">Balance Interest</label>
        <p-inputNumber
          formControlName="balance_interest"
          id="interest"
          mode="currency"
          currency="PHP"
          styleClass="w-full text-end"
          placeholder="0"
          [readonly]="true"
          inputStyleClass="text-red-500"
        ></p-inputNumber>
      </div>

      <div class="grid grid-flow-row gap-2 w-full">
        <label for="payment">Payment</label>
        <p-inputNumber
          formControlName="payment"
          id="payment"
          mode="currency"
          currency="PHP"
          styleClass="w-full text-end"
          placeholder="0"
          (keyup)="computeChange()"
        ></p-inputNumber>
        @if ( paymentsForm.get('payment')?.hasError('required') &&
        paymentsForm.get('payment')?.touched ) {
        <small class="p-error block"> Payment is required! </small>
        }
      </div>

      <div class="grid grid-flow-row gap-2 w-full">
        <label for="change">Change</label>
        <p-inputNumber
          formControlName="change"
          id="change"
          mode="currency"
          currency="PHP"
          styleClass="w-full text-end"
          placeholder="0"
          [readonly]="true"
        ></p-inputNumber>
      </div>

      <p-divider class="col-span-2 w-full" />

      <div class="grid grid-flow-col gap-2">
        <p-checkbox
          formControlName="is_interest_applied"
          inputId="is_interest_applied"
          [binary]="true"
          (onChange)="handleInterestChange($event)"
          [required]="true"
        />
        <label for="is_interest_applied"> Apply Interest </label>
      </div>

      <div class="grid grid-flow-row gap-2 w-full">
        <label for="transaction_remarks">Transaction Remarks</label>
        <textarea
          formControlName="transaction_remarks"
          pInputTextarea
          id="transaction_remarks"
          placeholder="Transaction Remarks"
          styleClass="w-full"
          rows="3"
          toUppercase
        ></textarea>
      </div>
    </div>
  </p-fieldset>

  <p-button
    styleClass="w-full mt-4 font-bold"
    severity="success"
    [size]="'large'"
    label="PAY NOW"
    [disabled]="paymentsForm.invalid"
    type="submit"
  ></p-button>
</form>
