<form [formGroup]="accountForm" (ngSubmit)="registerAccount()">
  <div class="grid grid-cols-3 gap-4 gap-x-6 items-start my-4">
    <p-fieldset legend="Basic Information">
      <app-basic-information formGroupName="basicInformation" />
    </p-fieldset>
    <p-fieldset legend="Additional Information">
      <app-additional-information formGroupName="additionalInformationForm" />
    </p-fieldset>
    <p-fieldset legend="Security Information">
      <app-security-information
        formGroupName="securityInformation"
        [editMode]="editMode"
      />
      <p-button
        type="submit"
        [disabled]="accountForm.invalid"
        icon="pi pi-save"
        label="Save Account"
      ></p-button>
    </p-fieldset>
  </div>
</form>
