<p-stepper [linear]="false">
    <p-stepperPanel header="Basic Information">
        <ng-template pTemplate="content" let-nextCallback="nextCallback" let-index="index">
            <app-basic-information />
            <p-button label="Next" icon="pi pi-arrow-right" iconPos="right" (onClick)="nextCallback.emit()" />
        </ng-template>
    </p-stepperPanel>
    <p-stepperPanel header="Security Information">
        <ng-template pTemplate="content" let-prevCallback="prevCallback" let-nextCallback="nextCallback"
            let-index="index">
            <app-security-information />
        </ng-template>
    </p-stepperPanel>
    <p-stepperPanel header="Additional Information">
        <ng-template pTemplate="content" let-prevCallback="prevCallback" let-index="index">
            <app-additional-information />
        </ng-template>
    </p-stepperPanel>
</p-stepper>