<div class="card">
  <p-fieldset legend="Actions">
    <div class="p-4 flex gap-4">
      <p-iconField iconPosition="left">
        <p-inputIcon>
          <i class="pi pi-search"></i>
        </p-inputIcon>
        <input
          pInputText
          [(ngModel)]="searchValue"
          type="text"
          (input)="dt.filterGlobal(searchValue, 'contains')"
          placeholder="Search keyword"
          toUppercase
        />
      </p-iconField>

      <p-button
        [disabled]="loans.length === 0"
        severity="success"
        icon="pi pi-check"
        label="Approve All Loans"
        (onClick)="approveAllLoans()"
      ></p-button>
    </div>
  </p-fieldset>

  <p-table
    [paginator]="true"
    paginatorPosition="top"
    [value]="loans"
    [filterDelay]="0"
    [globalFilterFields]="[
      'last_name',
      'first_name',
      'middle_name',
      'client_status',
      'address',
      'mobile_number',
      'fixed_co_maker'
    ]"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [rows]="25"
    [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[25, 50, 100]"
    #dt
    [showCurrentPageReport]="true"
    [loading]="loading"
  >
    <ng-template pTemplate="header">
      <tr>
        <th>No.</th>
        <th>Loan Status</th>
        <th>Profile Picture</th>
        <th>Name</th>
        <th>Loan Amount</th>
        <th>Interest Rate</th>
        <th>Mode of Payment</th>
        <th>Loan Opening Date</th>
        <th>Actions</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-loans let-rowIndex="rowIndex">
      <tr>
        <td>{{ rowIndex + 1 }}</td>
        <td>
          <p-tag
            [value]="loans.loan_status.replace('_', ' ')"
            [severity]="statusTagService.getSeverity(loans.loan_status)"
          />
        </td>

        <td>
          <p-avatar
            [image]="loans.cx_detail.client_picture"
            size="normal"
            shape="circle"
            (onImageError)="loans.cx_detail.client_picture = 'placeholder.png'"
          />
        </td>
        <td>
          {{ loans.fullname }}
        </td>
        <td>{{ loans.loan_amount | currency : "PHP" }}</td>
        <td>{{ loans.loan_interest_rate }}%</td>
        <td>
          <p-tag [value]="loans.loan_mode_of_payment.replace('_', ' ')" />
        </td>
        <td>
          {{
            loans.loan_opening_date
              ? (loans.loan_opening_date | date : "MMM dd, yyyy hh:mm a")
              : "-"
          }}
        </td>
        <td>
          <div class="flex gap-2">
            <p-button
              tooltipPosition="top"
              [rounded]="true"
              severity="success"
              pTooltip="Approve loans"
              class="mx-1"
              label="Approve"
              size="small"
              (onClick)="approveLoan(loans.loan_id)"
            />
          </div>
        </td>
      </tr>
    </ng-template>

    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="9" class="text-center p-4">
          <div class="flex flex-column align-items-center">
            <span>No customer records are available for approval</span>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
