<p-tabView [(activeIndex)]="activeIndex">
    <p-tabPanel header="Personal">
        <ng-template pTemplate="content">
            <p-card>
                <app-personal-information-form (customerRegistered)="onCustomerCreated($event)" />
            </p-card>
        </ng-template>
    </p-tabPanel>

    <p-tabPanel [leftIcon]="isCustomerCreated ? 'pi pi-lock' : ''" [disabled]="isCustomerCreated" header="Address">
        <ng-template pTemplate="content">
            <p-card>
                <app-address-form [customerId]="customerId()" />
            </p-card>
        </ng-template>
    </p-tabPanel>

    <p-tabPanel header="Collateral" [leftIcon]="isCustomerCreated ? 'pi pi-lock' : ''" [disabled]="isCustomerCreated">
        <ng-template pTemplate="content">
            <p-card>
                <app-shell-collaterals-form [customerId]="customerId()" />
            </p-card>
        </ng-template>
    </p-tabPanel>

    <p-tabPanel header="Source of Income" [leftIcon]="isCustomerCreated ? 'pi pi-lock' : ''"
        [disabled]="isCustomerCreated">
        <ng-template pTemplate="content">
            <p-card>
                <app-shell-source-of-income />
            </p-card>
        </ng-template>
    </p-tabPanel>

    <p-tabPanel header="Co-Maker" [leftIcon]="isCustomerCreated ? 'pi pi-lock' : ''" [disabled]="isCustomerCreated">
        <ng-template pTemplate="content">
            <p-card>
                <app-shell-co-maker />
            </p-card>
        </ng-template>
    </p-tabPanel>

    <p-tabPanel header="Profile Picture" [leftIcon]="isCustomerCreated ? 'pi pi-lock' : ''"
        [disabled]="isCustomerCreated">
        <ng-template pTemplate="content">
            <p-card>
                <app-profile-picture-form />
            </p-card>
        </ng-template>
    </p-tabPanel>

    <p-tabPanel header="Promissory Note" [leftIcon]="isCustomerCreated ? 'pi pi-lock' : ''"
        [disabled]="isCustomerCreated">
        <ng-template pTemplate="content">
            <p-card>
                <app-promissory-note />
            </p-card>
        </ng-template>
    </p-tabPanel>

    <p-tabPanel header="Archives" [leftIcon]="isCustomerCreated ? 'pi pi-lock' : ''" [disabled]="isCustomerCreated">
        <ng-template pTemplate="content">
            <p-card>
                <app-archives />
            </p-card>
        </ng-template>
    </p-tabPanel>

    <p-tabPanel header="Delinquent Status" [leftIcon]="isCustomerCreated ? 'pi pi-lock' : ''"
        [disabled]="isCustomerCreated">
        <ng-template pTemplate="content">
            <p-card>
            </p-card>
        </ng-template>
    </p-tabPanel>

</p-tabView>