<p-tabView>
  <p-tabPanel header="Personal">
    <ng-template pTemplate="content">
      <p-card>
        <app-personal-information-form
          (customerRegistered)="onCustomerCreated($event)"
        />
      </p-card>
    </ng-template>
  </p-tabPanel>

  <p-tabPanel
    [leftIcon]="isCustomerCreated ? 'pi pi-lock' : ''"
    [disabled]="isCustomerCreated"
    header="Principal Loan Amount"
  >
    <ng-template pTemplate="content">
      <p-card>
        <app-principal-loan [customerId]="customerId()" />
      </p-card>
    </ng-template>
  </p-tabPanel>

  <p-tabPanel
    [leftIcon]="isCustomerCreated ? 'pi pi-lock' : ''"
    [disabled]="isCustomerCreated"
    header="Address"
  >
    <ng-template pTemplate="content">
      <p-card>
        <app-address-form [customerId]="customerId()" [isEditMode]="false" />
      </p-card>
    </ng-template>
  </p-tabPanel>

  <p-tabPanel
    header="Collateral"
    [leftIcon]="isCustomerCreated ? 'pi pi-lock' : ''"
    [disabled]="isCustomerCreated"
  >
    <ng-template pTemplate="content">
      <p-card>
        <app-shell-collaterals-form
          [customerId]="customerId()"
          [isEditMode]="false"
        />
      </p-card>
    </ng-template>
  </p-tabPanel>

  <p-tabPanel
    header="Source of Income"
    [leftIcon]="isCustomerCreated ? 'pi pi-lock' : ''"
    [disabled]="isCustomerCreated"
  >
    <ng-template pTemplate="content">
      <p-card>
        <app-shell-source-of-income
          [customerId]="customerId()"
          [isEditMode]="false"
        />
      </p-card>
    </ng-template>
  </p-tabPanel>

  <p-tabPanel
    header="Co-Maker"
    [leftIcon]="isCustomerCreated ? 'pi pi-lock' : ''"
    [disabled]="isCustomerCreated"
  >
    <ng-template pTemplate="content">
      <p-card>
        <app-shell-co-maker [customerId]="customerId()" />
      </p-card>
    </ng-template>
  </p-tabPanel>

  <p-tabPanel
    header="Profile Picture"
    [leftIcon]="isCustomerCreated ? 'pi pi-lock' : ''"
    [disabled]="isCustomerCreated"
  >
    <ng-template pTemplate="content">
      <p-card>
        <app-profile-picture-form [customerId]="customerId()" />
      </p-card>
    </ng-template>
  </p-tabPanel>

  <p-tabPanel
    header="Promissory Note"
    [leftIcon]="isCustomerCreated ? 'pi pi-lock' : ''"
    [disabled]="isCustomerCreated"
  >
    <ng-template pTemplate="content">
      <p-card>
        <app-promissory-note [customerId]="customerId()" />
      </p-card>
    </ng-template>
  </p-tabPanel>

  <p-tabPanel
    header="Archives"
    [leftIcon]="isCustomerCreated ? 'pi pi-lock' : ''"
    [disabled]="isCustomerCreated"
  >
    <ng-template pTemplate="content">
      <p-card>
        <app-archives [customerId]="customerId()" />
      </p-card>
    </ng-template>
  </p-tabPanel>

  <p-tabPanel
    header="Delinquent Status"
    [leftIcon]="isCustomerCreated ? 'pi pi-lock' : ''"
    [disabled]="isCustomerCreated"
  >
    <ng-template pTemplate="content">
      <p-card>
        <app-delinquent-status
          [customerId]="customerId()"
        ></app-delinquent-status>
      </p-card>
    </ng-template>
  </p-tabPanel>
</p-tabView>
