<p-confirmDialog />

<form [formGroup]="capitalEntryForm" (ngSubmit)="submitCapitalEntry()">
  <div class="flex flex-col gap-4 items-start my-4">
    <div class="grid grid-flow-row gap-2 w-full">
      <label for="date-of-birth">Transaction Date</label>
      <p-calendar [maxDate]="maxDate" placeholder="mm/dd/yyyy" formControlName="transaction_date" styleClass="w-full"
        iconDisplay="input" mask="99/99/9999" slotChar="mm/dd/yyyy" />
      @if ( capitalEntryForm.get('transaction_date')?.hasError('required') &&
      capitalEntryForm.get('transaction_date')?.touched ) {
      <small class="p-error block"> Transaction Date is required! </small>
      }
    </div>

    <div class="grid grid-flow-row gap-2 w-full">
      <label for="capital">Capital Amount</label>
      <p-inputNumber [autofocus]="true" formControlName="capital" id="capital" mode="currency" currency="PHP"
        styleClass="w-full text-end text-mono" placeholder="0"></p-inputNumber>
      @if ( capitalEntryForm.get('capital')?.hasError('required') &&
      capitalEntryForm.get('capital')?.touched ) {
      <small class="p-error block"> Capital amount is required! </small>
      }
    </div>

    <div class="grid grid-flow-row gap-2 w-full">
      <label for="remarks">Remarks</label>
      <textarea formControlName="transaction_remarks" pInputTextarea id="remarks" styleClass="w-full"
        placeholder="Enter remarks here..." rows="2" [autoResize]="true" toUppercase></textarea>
    </div>
  </div>

  <p-button [disabled]="capitalEntryForm.invalid" icon="pi pi-save" type="submit" label="SAVE ENTRY"></p-button>
</form>